.container {
  width: 40%;
  height: 97vh;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: black;
  font-family: "Rock Salt", cursive;
}

h1 {

  color: #BBFCB3;

}

h2 {
  color: #BBFCB3;
  
}

p {
  color: #BBFCB3;
  
  font-size: x-large;
}

button {
 color: pink
}